# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Topics/Math library/Heron's formula/out/
/Topics/Math library/Heron's formula/out/production/classes/
/Topics/Math library/Quadratic equation/out/
/Topics/Math library/Quadratic equation/out/production/classes/
/Topics/Processing strings/The lucky ticket/out/
/Topics/Processing strings/The lucky ticket/out/production/classes/